# Auto detect text files and perform LF normalization
* text=auto

# Force these to always use LF in the repo
*.md text eol=lf
*.ipynb text eol=lf
*.py text eol=lf
*.txt text eol=lf
*.csv text eol=lf
*.json text eol=lf

# Binary files - no line ending conversion
*.pptx binary
*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
